#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#01285f;
  display:none;
  opacity: 0.1;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  background: rgba(0, 0, 0, 0.7) /* Green background with 30% opacity */
}  
#boxes .window {
  position:absolute;
  left:0;
  top:50px !important;
  width:380px;
  height:200px;
  display:none;
  z-index:9999999999999;
  padding:5px;
  border-radius: 0;
  text-align: center;
}
#boxes #dialog {
  width:375px; 
  height:auto;
  padding:10px;
  background-color:#ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}

.maintext{
	text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}
body{
  background: url('bg.jpg');
}
#lorem{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  text-align: left;
}
#popupfoot{
	font-family: "Segoe UI", sans-serif;
	font-size: 16pt;
  padding: 10px 20px;
}
#popupfoot a{
	text-decoration: none;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	
	color: red;
}