/*@import url('https://fonts.googleapis.com/css?family=Raleway');*/
@font-face{
	font-family:"swiss";
	src:url('../../fonts/SWZ721LC.ttf');
}
@font-face{
	font-family:"TRAJANPRO";
	src:url('../../fonts/TRAJANPRO-REGULAR_0.ttf');
}